@mixin container (){
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@mixin transition (){
    transition: 200ms;
    transition-timing-function: ease-in-out;
}

@mixin removeMargin (){
    p{
        margin: 0;
    }

    h1 {
        margin: 0;
    }

    h3 {
        margin: 0;
    }
}